
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root {
    --background-primary: linear-gradient(0deg, #161748, #161748), #FFFFFF;
    --background-secondary: #161748;
    --background-card: #1A1C4B;
    --textColor: #ffffff;
    --accentColor: #FFA500;
    --font-small: 1.2rem;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    color: var(--textColor);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container {
    position: relative;
    width: 40rem;
    max-width: 540px;
    
    display: flex;
    flex-direction: column;
    background: var(--background-primary);
}
/* hamburger-menu */
nav {
    position: relative;
    height: 10vh;
    width: 100%;
    margin-bottom: 4rem;
}
.hamburger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 34.02px;
    height: 18.5px;
    left: 38px;
    top: 37px;
    background-color: #161748;
    transition: all .4s;
    z-index: 10;
    cursor: pointer;
}
.line {  
    background-color: var(--accentColor);
    margin: .2rem;
    width: 2.6rem;
    height: .2rem;
    transition: all .6s ease-in-out; 
}
/* Menu animation */
.line1.anim {
    transform: rotateZ(-45deg) translate(-30%, 30%);
    transform-origin: center;
}
.line2.anim {
    opacity: 0;
}
.line3.anim {
    transform: rotateZ(45deg) translate(-30%, -30%);
    transform-origin: center;
}

/* Overlay */
.overlay {
    background-color: var(--background-secondary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all .4s cubic-bezier(1, 0, 0, 1);
    opacity: 0;
}
.active {
    opacity: 1;
}
.overlay-box {
    background-color: var(--background-card);
    border-radius: 25px;
    padding: 2rem 0;
    position: relative;
    width: 350px;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    z-index: 9;
}
.overlay-box:first-child {
    margin-top: 3rem;
}
.sunrise, 
.sunset,
.moonrise,
.moonset {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--textColor);
    font-size: calc(var(--font-small) + 10%);
}
.uv-index {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
}
/* Overlay */

/* Menu animation */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* temperature-container */
.temperature-container {
    position: relative;
    width: 350px;
    height: 24rem;
    background: var(--background-card);
    border-radius: 25px;
    margin-bottom: 4rem;
    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;
    width: 100vw;
    padding: 1.2rem 1rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.today {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.date {
    padding: 1.6rem 0;
    margin-right: -12rem;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}
/* Degree */
.degree {
    padding-left: .8rem;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.degree-symbol {
    margin-right: 26rem;
    padding-top: .3rem;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--accentColor);
}
.wheater-icon {
    position: relative;
    width: 8rem;
    height: 6rem;
    right: 12rem;
    margin-top: -1rem;
}
/* Location */
.location-icon {
    padding-left: 1rem;
    fill: var(--accentColor);

}
.location-timezone {
    padding-left: .6rem;
    width: 100%;
    flex-wrap: wrap;
}
/* Details  */
.details-container {
    padding: 2rem 0;
    position: relative;
    width: 350px;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.details-container-small {
    position: relative;
    width: 82px;
    height: 87px;
    background: var(--background-card);
    border-radius: 25px;
    color: var(--textColor);
    cursor: pointer;
}

.details-container-small p {
    font-size: var(--font-small)
    margin: .8rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accentColor);
}

#humidity,
#wind,
#pressure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Forecast */
.forecast-title {
    position: relative;
    margin-bottom: 2rem;
}
.forecast-container {
position: relative;
width: 350px;
height: 15vh;
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 25px;
margin-bottom: 2rem;
overflow: hidden;
}
.forecast-container-small {
    background-color: var(--background-card);
    width: 16rem;
    height: 14vh;
    border-radius: 25px;
    margin: 1rem;
    font-size: calc(var(--font-small) + 15%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
