* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(123,208,134,1) 0%, rgba(125,126,126,1) 89%);
    font-family: sans-serif;
    color: white;
  }
  .location,
  .temperature {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .degree-section span {
    margin: 10px;
    font-size: 30px;
  }
  .degree-section h2 {
    font-size: 40px;
  }
 /* Date */
  .date-wrapper {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-content: center;
    justify-content: center;
  }
  .date {
    position: relative;
    display: flex;
    font-size: 1.8rem;
  }
